VITE_API_URL=http://127.0.0.1:5001/admin-1000-moustaches/us-central1/api
VITE_FIREBASE_API_KEY=AIzaSyA-vhbEEGqVusCxDZW1gTTlsZU7zJAyLjk
VITE_FIREBASE_AUTH_DOMAIN=admin-1000-moustaches.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://admin-1000-moustaches-default-rtdb.europe-west1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=admin-1000-moustaches
VITE_FIREBASE_STORAGE_BUCKET=admin-1000-moustaches.appspot.com
VITE_FIREBASE_MESSAGE_SENDER_ID=988480170077
VITE_FIREBASE_APP_ID=1:988480170077:web:2416922bd81d5f2c6505b4
VITE_FIREBASE_MESUREMENT_ID=G-W8LTHV2JME
VITE_GEOAPPIFY_API_KEY=c16847dd546647e0aa09d2338bbd34f1